.benefits {
    min-height: 1335px;
    padding: 80px 0;
    &__items {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;

    }
    &__item {
        display: flex;
        align-items: center;
        max-width: 570px;
        height: 350px;
        &-bg {
            display: flex;
            align-items: center;
            height: 155px;
            width: 100%;
            background: rgba(0, 0, 0, .7);
        }
        &-descr {
            padding: 0 115px;
            width: 100%;
            font-size: 23px;
            font-weight: 400;
            text-align: center;
            color: #fff;
        }
        
    }
        .bg_1 {
            background: url('../images/img/prengi_1.jpg') center (center / cover) no-repeat;
            width: 100%;
        }

        .bg_2 {
            background: url('../images/img/prengi_2.jpg') center (center / cover) no-repeat;
            width: 100%;
        }

        .bg_3 {
            background: url('../images/img/prengi_3.jpg') center (center / cover) no-repeat;
            width: 100%;
        }

        .bg_4 {
            background: url('../images/img/prengi_4.jpg') center (center / cover) no-repeat;
            width: 100%;
        }

        .bg_5 {
            background: url('../images/img/prengi_5.jpg') center (center / cover) no-repeat;
            width: 100%;
        }

        .bg_6 {
            background: url('../images/img/prengi_6.jpg') center (center / cover) no-repeat;
            width: 100%;
        }

}