@media (max-width: 1140px) {
    .header {
        &__items {
            justify-content: space-around;
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__item {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}

@media (max-width: 767px) {
    .header {
        display: none;
    }
}