.header {
    min-height: 85px;
    padding: 20px 0;
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__item {
        width: 230px;
        display: flex;
        
        align-items: flex-start;
    }
    &__flag {
        margin-right: 12px;
        
    }

    &__cont {
        &-title {
            font-weight: 700;
            font-size: 14px;
        }
        &-descr {
            font-weight: 400;
            font-size: 12px;
        }
        &-contact {
            font-weight: 400;
            font-size: 12px;
        }
    }
}